<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>FaceBuzz</title>
</head>
<body>

  <div class="container border border-primary">
    <div class="row border border-primary">
      <div class="col-12 p-2">
        Heading
      </div>
    </div>
    <div class="row border border-primary">
      <div class="col-4 border p-2">Sidebar</div>
      <div class="col-8 border p-2">
        <form action="">
          <input type="text">
          <input type="submit">
        </form>
      </div>
    </div>
    <div class="row border border-primary">
      <div class="col-12 border p-2">
        Footer
      </div>
    </div>

  </div>

</body>
</html>
