<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="sign-up col-6 p-2">
      <div class="row">
        <div class="col-12">
          <div class="sign-up-form p-4 mb-2">
          Enter your GitHub details here:

<form>
  <input type="text" placeholder="Username" class="username">
  <input type="text" placeholder="Email Address">
  <input type="password" placeholder="Password">
  <div class="text-right">
    <button class="btn btn-sm btn-primary">Log In</button>
  </div>
</form>

</div>
</div>
</div>
  </body>
</html>
